<form method="get" action="/display.erb">
    <label for="name">Country</label>
    <input type="text" name="country">
    <input name="year" type="text">
    <input name="month" type="text">
    <button type="submit">Submit</button>
</form>